/* use the below line for opaque waybar */
/* @import url("../../.cache/wal/colors-waybar.css"); */

/* use the below line for semi-transparent waybar */
@import url("../../.cache/wal/colors-custom-gtk3.css");

/* get your icons from the link below */
/* https://aur.archlinux.org/packages/ttf-material-design-icons-git/ */

* {
    border: none;
    border-radius: 0;
    font-family: Hack, Roboto, Ubuntu Mono, Material Design Icons;
    font-size: large;
    min-height: 0;
}
window#waybar {
    background: @backgroundAlpha;
    color: @foreground;
}
#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button.focused {
    /*background: @foreground;*/
    background: @color2;
    color: @background;
}
#backlight, #mode, #clock, #memory, #temperature, #network, #pulseaudio, #pulseaudio.muted, #pulseaudio.mic, #battery {
    padding: 0 10px;
    margin: 0 5px;
    background: transparent;
    background-color: transparent;
    
    color: @foreground;
}
#mode {
    background: @color2;
    color: @background;
}
#memory {
}
#temperature {
}
#network {
}
#clock {
}
#pulseaudio {
}
#pulseaudio.muted {
}
#pulseaudio.mic {
}
#battery {
}
#battery.charging {
    background-color: #26A65B;
}
@keyframes blink {
    to {
        color: @background;
    }
}
#battery.warning:not(.charging) {
    background: transparent;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
