window {
	background-color: rgba(--wofi-color3,1);
	font-family: hack;
}
#input {
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	box-shadow: none;
	background-color: --wofi-color6;
	color: --wofi-color0;
	border: 5px solid --wofi-color3;
	border-radius: 0px;
}
#entry {
	color: --wofi-color7;
}
#entry:selected {
	color: --wofi-color0;
	background-color: --wofi-color2;
}
#outer-box {
	border: 5px solid --wofi-color3;
}
