* {
    font-size: 12px;
    font-family: monospace;
}

window#waybar {
    background: #1E1F23;
    color: #fdf6e3;
}
#custom-right-arrow-dark-1 {
    color: #DCDCCC;
    font-size: 23px;
}
#custom-right-arrow-dark-2 {
    color: #E00421;
    font-size: 23px;
}
#custom-left-arrow-dark-1 {
    margin-left : 8px;
    color: #2D888D;
    font-size: 23px;
}
#custom-left-arrow-dark-2 {
    color: #DCDCCC;
    font-size: 23px;
}
#custom-right-arrow-light {
    color: #1E1F23;
    background: #E00421;
    font-size: 23px;
}
#custom-left-arrow-light {
    color: #1E1F23;
    background: #2D888D;
    font-size: 23px;
}
#clock.1 {
    background: #2D888D;
}
#clock.2 {
    color: #1E1F23;
    background: #DCDCCC;
}
#clock.3 {
    background: #E00421;
}
#workspaces {
    margin-left: 12px;
    border-radius: 26px;
    background: #000000;
}
#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color:  #81D425;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    border-color: #0C3D27;
    background: #0C3D27;
}
#pulseaudio {
    background: #9aedfe;
}
#backlight {
    background: #b58900
}
#memory {
    background: #ff6e67;
}
#temperature {
    background: #5af78e;
}
#cpu {
    background: #f1fa8c;
}
#battery {
    background: white;
}
#battery.charging {
    background: green;
}
#network {
    background: #bd93f9;
}
#pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #network, #tray {
    color: #1E1F23;
    border-radius: 26px;
    margin: 0 4px;
    padding: 0 16px;
}
#clock{
    padding: 0 16px;
}