* {
    border: none;
    border-radius: 0;
    font-family: Dejavu Sans Mono for Powerline, monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgb(44, 78, 95);
    border-bottom: 3px solid rgb(219, 45, 21);
    color: white;
    /* transition-property: background-color; */
    /* transition-property: all; */
    transition-duration: 1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    background-color: #0a2929;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

#workspaces button.urgent {
    background-color: #e08813;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0;
}

#mode {
    background: rgba(255, 0, 0, 0.8); /* pure red is a bit hard on the eyes */
    color: #ffffff;
    margin: 0 10px;
    padding: 0 7px;
    font-weight: bolder;
    border-radius: 5%;
}

@keyframes blink {
    to {
        color: black;
        background-color: #ffffff;
    }
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    background-color: #196767;
}

#cpu {
    background-color: #145252;
}

#memory {
    background-color: #0f3e3e;
}

#tray {
    background-color: rgb(44, 78, 95);
    border-bottom: 3px solid rgb(219, 45, 21);
}

#clock {
    background-color: #051515;
}
#battery {
    background: rgb(4, 129, 167);
}
#battery.charging {
    background: green;
}
#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* If the font size for the arrows is too big, it will resize
the bar in a problematic way 130 percent for 20 pixel*/
#custom-block0 {
	color: #0a2929;
	background: #0a2929;
}

#custom-arrow0 {
	font-size: 160%;
	color: #0a2929;
	background: transparent;
}

#custom-arrow1 {
	font-size: 160%;
	color: #196767;
	background: transparent;
}

#custom-arrow2 {
	font-size: 160%;
	color: #145252;
	background: #196767;
}

#custom-arrow3 {
	font-size: 160%;
	color: #0f3e3e;
	background: #145252;
}

#custom-arrow4 {
	font-size: 160%;
	color: #0a2929;
	background: #0f3e3e;
}

#custom-arrow5 {
	font-size: 160%;
	color: #051515;
	background: #0a2929;
}